<html> 
    <head>
        <title>
            Test3
        </title>
    </head>

    <body>
        <form action="/" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <button> Submit </button>
        </form>
    </body>
</html>